<!-- Modal Trigger -->
	<a class="waves-effect waves-light btn modal-trigger" href="#modal1">_html</a>

	<!-- Modal Structure -->
	<div id="modal1" class="modal bottom-sheet">
		<div class="modal-content">
			<h4>Quick reference cards</h4>
			<p>
				<img src="img/html.png">
				<img src="img/js.png">
				<img src="img/html.png">
			</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>




	<script>
		$(document).ready(function(){
			$('.modal-trigger').leanModal();
		});
	</script>
