<!-- Modal Trigger -->
	<a class="waves-effect waves-light btn modal-trigger" href="#modal1">_html</a>

	<!-- Modal Structure -->
	<div id="modal1" class="modal bottom-sheet">
		<div class="modal-content">
			<h4>Useful resource links</h4>
			<div class="collapsible" data-collapsible="accordion">
				<li>			
					<div class="collapsible-header"><i class="material-icons"></i>web links</div>
					<div class="collapsible-body">
						<div class="divider"></div>							
						<div ng-repeat="note in userNotes">
							<label>
								<span>{{note.note}}
									<a ng-href="#/home{{items.id}}" ng-click="itemDelete()">delete</a>
								</span>
							</label>
						</div>
						<div class="divider"></div>

						<input type="text" ng-model="newNote"  size="30"
						placeholder="add new form here">
						<input class="btn" type="submit" value="add" ng-click="addNewNote()">

					</div>
				</li>
			</div>
		</div>

		<div class="modal-content">
			<div class="collapsible" data-collapsible="accordion">
				<li>			
					<div class="collapsible-header"><i class="material-icons"></i>cheat sheets</div>
					<div class="collapsible-body">
						<div class="divider"></div>							
						<div ng-repeat="note in userNotes">
							<label>
								<span>{{note.note}}
									<a ng-href="#/home{{items.id}}" ng-click="itemDelete()">delete</a>
								</span>
							</label>
						</div>
						<div class="divider"></div>

						<input type="text" ng-model="newNote"  size="30"
						placeholder="add new form here">
						<input class="btn" type="submit" value="add" ng-click="addNewNote()">

					</div>
				</li>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>




	<script>
		$(document).ready(function(){
			$('.modal-trigger').leanModal();
		});
	</script>

	<script>            
		$(document).ready(function() {
			$('.collapsible').collapsible({
				accordion: true 
			});
		});
	</script>
