

 <div class="navbar-fixed">   <!-- Collect the nav links, forms, and other content for toggling -->
    <nav>
    <div class="nav-wrapper grey lighten-1" ng-controller="LoginCtrl">
      <a href="#/home" class="brand-logo grey lighten-1">MindApp®</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ng-show="isActive"><a ng-href="#/items/new">Add Tool</a></li>
        <li ng-show="isActive"><a ng-href="#/home">Mind View</a></li>
        <li ng-show="!isActive"><a ng-href="#/login">Log In</a></li>
        <li ng-show="isActive"><a ng-href="#/logout">Logout</a></li>
      </ul>
    </div>
</nav>
</div>