<h4>New Tool</h4>

<div class="container teal lighten-5">

	<div class="row">
		<div class="col s12">

			<div class="row">
				<form>				
					<div class="input-field col s6">
					
						<input value="Tool Path Name" id="first_name2" type="text" class="validate" ng-model="newTool">
						<label class="active" for="first_name2">Name Your Directory or File</label>
					</div>
					<div><button class="btn" value="add" type="submit" ng-click="addNewTool()"></button></div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		Materialize.updateTextFields();
	});
</script>

<!-- <div ng-repeat="tool in newTool">				
				<a ng-href="#items/{{tool.id}}" id="draggable" class="waves-effect waves-light btn modal-trigger" href="#modal1"></a>
			</div> -->