body {
  background-color: white; }

.navbar {
  background-color: lightgray;
  font-weight: bold; }

.navbar .navbar-brand {
  color: lightgray;
  font-size: 2em; }

.navbar a {
  color: white; }

.loginPage {
  padding: 1em;
  width: 30em;
  margin: 0 auto;
  text-align: center; }

.loginPage h5 {
  margin-bottom: .1em; }

.loginPage button {
  margin-top: .6em; }

.btn {
  border: 1px;
  margin-top: 2px;
  margin-bottom: 20px; }

.delete {
  background-position: -269px center;
  padding-top: 1px; }

#draggable, #draggable2 {
  margin-bottom: 20px;
  cursor: move; }

#draggable {
  cursor: n-resize; }

#draggable3 {
  cursor: move; }

#draggable4 {
  cursor: move; }

#containment-wrapper {
  height: 500px; }

.modal-content {
  margin: 0; }
