body {
  background-color: darkgray; }

.navbar {
  background-color: lightgray;
  font-weight: bold; }
  .navbar .navbar-brand {
    color: ivory;
    font-size: 2em; }
  .navbar a {
    color: white; }

.loginPage {
  border: solid black 2px;
  padding: 1em;
  width: 30em;
  margin: 0 auto;
  text-align: center; }
  .loginPage h3 {
    margin-bottom: .1em; }
  .loginPage button {
    margin-top: .6em; }

.wrap {
  display: inline-block;
}

#div1, #div2, #div3, #div4 {
  float:left;  
  width:100px; 
  height:35px; 
  margin:10px;
  padding:10px;
  border:1px solid #aaaaaa;
}